/*
*       *----------------*
*       * Tavallinen CSS *
*       *----------------*
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  user-select: none;
  text-align: center;
}

/* otsikko samalle tasolle graafin kanssa */
h1,
#buttonit,
footer {
  margin: 0px;
  padding: 0px;
  margin-left: 3vw;
  margin-top: 5px;
}

/* wrapperi graafille */
.rajaus {
  border-style: dashed;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  display: block;
  position: relative;
}

/* pakollinen cytoscapen takia */
#cy {
  width: 96vw;
  height: 75vh;
}

/* wrapperi zoomi napeille */
#rajauksenNapit {
  position: absolute;
  top: 2%;
  /* color: #fff; */
  background-color: #749ee6;
  padding: 11px;

  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  alignment-baseline: central;
  width: 55px;
  height: 85px;
  top: 9px;
  right: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 9px;

  margin: 0px auto;
  z-index: 10;
}

.zoomiNapit {
  margin: 2px;
  padding: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 9px;
  top: 0;
  right: 0;
}

.varjollisetNapit,
#hakukentta,
#graafinMuokkausSpan button {
  width: fit-content;
  margin-right: 2vw;
  margin-bottom: 5px;
  border-width: 2px;
  min-width: 30px;
  max-width: 180px;
}

#graafinMuokkausSpan button {
  margin-right: 2vw;
}

/* varjostukset ja pyöristys */
.varjollisetNapit,
#statusbar,
#hakukentta,
.rajaus,
#graafinMuokkausSpan button,
#tietojenMuokkaus .komponentti {
  box-shadow: 4px 4px 8px lightblue;
  border-radius: 9px;
}

.varjollisetNapit {
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

#tietojenMuokkaus .komponentti {
  border-style: solid;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  display: block;
  position: relative;
  height: 0;
}

#tietojenMuokkaus .komponentti.olemassa {
  height: fit-content;
}

#statusbar {
  font-family: monospace;
  font-size: large;
  border-style: solid;
  margin: 0vh;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: smaller;
  color: gray;
  position: relative;
  margin-right: 2vw;
  margin-top: 1vh;
  text-align: right;
}

/*
*       *---------------------*
*       * Muokkausikkunan CSS *
*       *---------------------*
*/

/* #tietojenMuokkaus form {
  position: absolute;
  top: 2%;
  background-color: #b374e6;
  padding: 11px;

  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  alignment-baseline: central;
  width: 70vw;
  height: 70vh;
  top: 9px;
  right: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 9px;

  margin: 0px auto;
  z-index: 10;
}

#tietojenMuokkaus form .komponentti.olemassa {
  height: 0;
  width: 0;
}

#tietojenMuokkaus form .komponentti.olemassa {
  margin: 2px;
  padding: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 9px;
  top: 0;
  right: 0;
} */

/*
*       *-------------------*
*       * Asettelujärjestys *
*       *-------------------*
*/

#randoButton {
  order: -2;
}

#järjestäButton {
  order: -1;
}

#omaJärjestysButton {
  order: 0;
}

#hakukenttaButton {
  order: 1;
}

#hakukentta {
  order: 1;
}

.joopeli {
  order: 2;
}

/*
*       *-------------*
*       * Animationit *
*       *-------------*
*/

#cy {
  animation-name: syntyma-laskeutuminen;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.44, 0.21, 0, 1); /* ease */
  animation-delay: 0.2s;
}

@keyframes syntyma-laskeutuminen {
  from {
    height: 25vh;
  }
  to {
  }
}

/* komponentti ei oletuksena olemassa, sen padding on 0 */
.komponentti,
#hakukentta {
  /* tila johon päädytään animaation lopuksi: kuollut */
  padding: 0px;

  /* kuolinanimaatio */
  transition-property: padding;
  transition-duration: 0.15s;
  /* ease-in-out */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.komponentti.olemassa,
#hakukentta.olemassa {
  /* tila johon päädytään animaation lopuksi: olemassa */
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;

  /* synnyinanimaatio */
  transition-property: padding;
  transition-duration: 0.25s;
  /* ease-out */
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
